.admin-profile {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    margin-top: 20px;
}

.admin-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.admin-details {
    margin-left: 10px;
}

.admin-name {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.admin-role {
    font-size: 14px;
    color: #d1d1d1;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
}

/* Close Button */
.close-btn {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

.product-image {
    width: 50px;  /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    object-fit: cover;  /* Ensures the image fits well without distortion */
}