body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/public/img/fiel.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115vh;
    color: #333;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 40px;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.form-container p {
    margin-top: 0;
    font-size: 20px;
    color: #555;
}

.form-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.preview-container {
    margin: 10px 0;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f7f7f7;
}

.preview-container img {
    max-width: 100%;
    max-height: 100%;
}

.form-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="phoneNumber"],
.form-container input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.form-container input[type="file"] {
    margin: 10px 0;
}

.form-container .row {
    display: flex;
    gap: 10px;
}

.form-container .row input {
    flex: 1;
}

.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}

.form-container .radio-group {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #0056b3;
}

.form-container .link {
    margin-top: 10px;
    font-size: 14px;
}

.form-container .link a {
    color: #007BFF;
    text-decoration: none;
}

.form-container .link a:hover {
    text-decoration: underline;
}

.form-container .checkmark {
    color: green;
    font-weight: bold;
    margin-left: 5px;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}